<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>현황관리 리포트(재고금액)</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
<style>
    #scroll {
        width: 100%;
        height: 500px;
        overflow-y: scroll;
    }
</style>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar 왼쪽 고정바 시작-->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">신생아<sup>MIT</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Portal</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">

        </div>

        <!-- Nav Item - Pages Collapse Menu 조달관리-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-folder"></i>
                <span>조달관리</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="tables1-1">품목정보등록</a>
                    <a class="collapse-item" href="tables1-2">계약등록</a>
                    <a class="collapse-item" href="tables1-3">조달계획등록</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu 발주관리-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-folder"></i>
                <span>발주관리</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="tables2-1">구매발주서발행</a>
                    <a class="collapse-item" href="tables2-2">진척검수처리</a>
                    <a class="collapse-item" href="bbbb">현황관리 리포트(발주진행)</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu 자재관리-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>자재관리</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="tables3-1">자재입고<br>거래명세서발행<br>발주마감</a>
                    <a class="collapse-item" href="tables3-2">자재출고</a>
                    <a class="collapse-item" href=#>현황관리 리포트(재고금액)</a>
                </div>
            </div>
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar 왼쪽 고정바 끝-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading 해당페이지 안내문구-->
                <br><h1 class="h1 mb-0 text-gray-800"><center>현황관리 리포트(재고금액)</center></h1><br>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <table class="table table-bordered">
                            <tr>
                                <th style="vertical-align: middle; text-align: center;">기간</th>
                                <th style="vertical-align: middle;">시작일자 : <input type="date" id="startDate"> ~
                                    종료일자 : <input type="date" id="endDate">
                                </th>


                            </tr>
                            <tr>
                                <th style="vertical-align: middle; text-align: center;">품목구분</th>
                                <th><label for="selectBoxLarge">대분류:</label>
                                    <select id="selectBoxLarge" onchange="updateSelection()">
                                        <option value="option1">대분류(전체)</option>
                                        <option value="option2">반도체(B)</option>
                                        <option value="option3">연결부품(C)</option>
                                        <option value="option3">액정(G)</option>
                                    </select>
                                    <label for="selectBoxMedium">중분류:</label>
                                    <select id="selectBoxMedium" onchange="updateSelection()">
                                        <option value="option1">중분류(전체)</option>
                                        <option value="option2">메인보드(A)</option>
                                        <option value="option3">메모리카드(S)</option>
                                        <option value="option3">브라켓(B)</option>
                                        <option value="option3">나사(M)</option>
                                        <option value="option3">플렛(F)</option>
                                    </select>
                                    <button class="btn btn-primary btn-icon-split" onclick="openList()">
                                        <span class="text">조회</span></button>
                                </th>
                            </tr>
                        </table>

                    </div>
                    <div id="popup" class="popup" style="display: none;">
                        <div class="card-body">
                            <div id="scroll" class="table-responsive">
                                <h5 class="m-0 font-weight-bold text-primary" >현황관리 리포트(재고금액)</h5><br>
                                <table class="table table-bordered" width="100%" cellspacing="0">

                                    <thead>
                                    <tr>
                                        <th>품목코드</th>
                                        <th>품목명</th>
                                        <th>단가(원)</th>
                                        <th>기초수량(EA)</th>
                                        <th>입고수량(EA)</th>
                                        <th>출고수량(EA)</th>
                                        <th>재고수량(EA)</th>
                                        <th>재고금액</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>BA001</td>
                                        <td>메인보드1호</td>
                                        <td>60,000</td>
                                        <td>30</td>
                                        <td>50</td>
                                        <td>60</td>
                                        <td>20</td>
                                        <td>1,200,000</td>
                                    </tr>
                                    <tr>
                                        <td>BS001</td>
                                        <td>메모리카드1호</td>
                                        <td>12,000</td>
                                        <td>80</td>
                                        <td>150</td>
                                        <td>200</td>
                                        <td>30</td>
                                        <td>360,000</td>
                                    </tr>
                                    <tr>
                                        <td>BS002</td>
                                        <td>메모리카드2호</td>
                                        <td>14,000</td>
                                        <td>50</td>
                                        <td>100</td>
                                        <td>120</td>
                                        <td>30</td>
                                        <td>420,000</td>
                                    </tr>
                                    <tr>
                                        <td>BS003</td>
                                        <td>메모리카드3호</td>
                                        <td>16,000</td>
                                        <td>70</td>
                                        <td>100</td>
                                        <td>150</td>
                                        <td>20</td>
                                        <td>320,000</td>
                                    </tr>



                                    </tbody>
                                </table>
                            </div> <!--테이블 리스폰시브 끝-->




                            <div style="width: 50%; margin: 0 auto;">
                                <canvas id="InChart" width="100" height="100"></canvas>
                            </div>
                            Inspection


                        </div><!--카드 바디 끝-->
                    </div><!--팝업 끝-->
                </div><!--DataTales Example 끝 -->

            </div><!-- Begin Page Content 끝 -->
            <!-- /.container-fluid -->

        </div><!-- Main Content 끝 -->
    </div><!-- Content Wrapper 끝 -->

    <script src="http://code.jquery.com/jquery-1.10.1.js"></script>

    <script>
        // 팝업 열기
        function openList() {
            document.getElementById('popup').style.display = 'block';
        }


    </script>



    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('InChart').getContext('2d');

    var totalIn=20;

    var complete = [1,3,5,10,1];

    var completeD =[];



    for(var i=0; i<complete.length; i++) {
        completeD.push((complete[i]/totalIn)*100);
        '%';
    }



    var data = {
        labels: ['메인보드(A)', '메모리카드(S)', '브라켓(B)', '나사(M)', '플렛(F)'],
        datasets: [
            {
                backgroundColor: ['rgba(32, 103, 236, 0.8)','rgba(208, 47, 132, 0.8)','rgba(78, 177, 78, 0.8)','rgba(133, 27, 228, 0.8)','rgba(62, 193, 193, 0.8)'],
                borderColor: 'rgba(0, 0, 0, 1)',
                data: completeD,
            },


            ],
        };



        var InChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: '중분류',
                        fontSize: 25,
                    },
                    tooltip: {
                        enabled:false
                    },
                    datalabels: {
                        color: 'white',
                        formatter: function (value) {
                                return value.toFixed(2) + '%';
                        },
                        offset: 10,


                    },
            },
        },
        plugins: [ChartDataLabels],
    });
});




    </script>




    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>